@import 'global';
@import 'themes';
.pos-rel {
    position: relative;
}

.form-title {
    padding: 10px;
    &.small {
        font-size: 14px;
    }
    &.medium {
        font-size: 18px;
    }
    &.large {
        font-size: 22px;
    }
}

.floating-label {
    @include themify($themes) {
        position: relative;
        .row {
            margin: 0 !important;
        }
        .control-label {
            font-size: 15px;
            font-weight: 400;
            pointer-events: none;
            position: absolute;
            transform: translate3d(0, 14px, 0) scale(1);
            transform-origin: left top;
            transition: 240ms;
            color: themed('txtWhite');
            text-transform: capitalize;
            margin-top: -8px;
        }
        .textarea_group .control-label {
            margin-top: -5px;
            padding-bottom: 5px;
            background: #fff;
            width: 100%;
        }
        .form-group.focused .control-label {
            opacity: 1;
            transform: scale(0.74);
            color: #fff;
            font-size: 14.5px;
        }
        .form-control {
            align-self: flex-end;
            padding: 8px 0px 5px 0px;
            color: #fff;
            border: none;
            outline: none;
            background: none;
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            border-bottom: 1px solid #fff;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            font-size: 15px;
            position: relative;
            max-width: 100%;
            -moz-appearance: none;
        }
        .form-control:focus {
            border-bottom: 1px solid #FF9800;
        }
        .form-control::-webkit-input-placeholder {
            color: transparent;
            transition: 240ms;
        }
        .form-control:focus::-webkit-input-placeholder {
            transition: none;
        }
        .form-control::-moz-placeholder {
            color: themed('txtWhite');
            opacity: 0;
        }
        .form-group.focused .form-control::-webkit-input-placeholder {
            color: themed('txtWhite');
        }
        .password_icon {
            position: absolute;
            float: right;
            right: 0;
            margin-top: -25px;
            margin-right: 20px;
            cursor: pointer;
            color: #333;
        }
        .form-group {
            padding-top: 5px;
            margin-bottom: 15px;
            .cal-icon {
                position: absolute;
                right: 0;
                font-size: 24px;
                top: 12px;
                &.icon {
                    &:before {
                        color: themed('txtWhite');
                    }
                }
            }
            .date-picker {
                >div {
                    width: 100% !important;
                }
            }
        }
        .fixed-label-group {
            margin-bottom: 10px;
            .fixed-label {
                width: 100%;
                border-bottom: 1px solid;
                padding-bottom: 8px;
            }
        }
        .input-abs-icon {
            position: absolute;
            right: 0;
            right: 0px;
            top: -5px;
            font-size: 25px;
            padding: 10px;
            &:before {
                color: themed('txtWhite');
            }
        }
    }
}

.radio-btn-group {
    >div {
        @include primary-flex;
        justify-content: center;
        align-items: center;
        -webkit-align-items: center;
    }
}

.multi-select-val {
    div {
        color: #fff !important;
    }
}

.drop-menu-icons {
    display: flex !important;
    color: #FF5252;
    font-size: 22px;
}

.dropdown-toggle:after {
    border: none !important;
}

.status {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.drop-menu-item {
    >div {
        >div {
            padding: 0px 16px 0px 50px !important;
        }
    }
}

.online {
    background: green;
}

.busy {
    background: #FF5252;
}

.away {
    background: orange;
}

.invisible-state {
    background: #ccc;
}

.main-content {
    @include themify($themes) {
        .custom-form-padding {
            border: 2px solid themed('borderFour'); // padding: 0 15px;
            border-radius: 8px;
            margin-bottom: 5px; // height: 100%;
            height: 85%;
        }
        .custom-padding-2 {
            border-left: 2px solid themed('borderFour');
            padding-left: 15px;
            padding-bottom: 5px;
        } // navigation-block
        .navigation-block {
            padding: 2px 0 !important;
            a {
                div>div {
                    padding-left: 0 !important;
                    font-size: 18px;
                    padding: 4px 0;
                }
            }
        }
        .list-nav-block {
            li {
                >div {
                    width: 100%;
                }
                a {
                    div>div {
                        font-size: 14px;
                        padding: 4px 0 !important;
                        color: themed('txtWhite');
                        .drop-icon {
                            right: 0 !important;
                            top: -15px !important;
                        }
                    }
                }
            }
        }
        .apt-start-container {
            .form-block {
                height: 70%;
            }
        }
        .form-block {
            @include primary-flex;
            @extend .custom-form-padding;
            .form-left-block {
                overflow-y: auto;
                .img-block {
                    margin: 0 auto;
                }
                flex: 0.5;
                -webkit-flex: 0.5;
                padding: 10px;
                @include primary-flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                justify-content: center;
                .cmn-style {
                    border: 1px solid themed('borderOne');
                    text-align: center;
                    border-radius: 8px;
                    margin: 10px 0;
                    p {
                        margin-bottom: 5px;
                    }
                }
            }
            .form-right-block {
                overflow-y: auto;
                @extend .custom-padding-2;
                flex: 2;
                -webkit-flex: 2;
                flex-direction: column;
                -webkit-flex-direction: column;
                @include primary-flex;
                .buttons-group {
                    padding: 10px 0 5px 0;
                    flex: 0 0 auto;
                }
                .radio-btn-group {
                    justify-content: left;
                    p {
                        margin-bottom: 0;
                        margin-right: 30px;
                    }
                }
                .custom-scroll {
                    overflow-y: auto;
                    height: 100%;
                    flex: 1 1 auto;
                    -webkit-flex: 1 1 auto;
                    padding-top: 10px;
                }
            }
            .form-main-block {
                overflow-y: auto;
                flex: 2;
                -webkit-flex: 2;
                flex-direction: column;
                -webkit-flex-direction: column;
                @include primary-flex;
                .form-headr {
                    padding: 10px 5px;
                    border-bottom: 2px solid themed('borderFour');
                    font-size: 18px;
                }
                .custom-scroll {
                    overflow-y: auto;
                    height: 100%;
                    flex: 1 1 auto;
                    -webkit-flex: 1 1 auto;
                    padding-top: 10px;
                }
                .buttons-group {
                    padding: 10px 0 5px 0;
                    flex: 0 0 auto;
                }
            }
            .custom-width {
                width: 50%;
                margin: 0 auto;
            }
        }
        .form-group {
            .date-picker {
                input {
                    color: themed('txtWhite') !important;
                }
                div {
                    color: themed('txtWhite') !important;
                }
            }
        } // File Upload
        .avatar-upload {
            position: relative;
            max-width: 205px;
            margin: 20px auto;
            .avatar-edit {
                position: absolute;
                right: -5px;
                z-index: 1;
                top: 10px;
                input {
                    display: none;
                    +label {
                        display: inline-block;
                        width: 34px;
                        height: 34px;
                        margin-bottom: 0;
                        border-radius: 100%;
                        background: themed('bgOrange');
                        border: 1px solid transparent;
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                        cursor: pointer;
                        font-weight: normal;
                        transition: all .2s ease-in-out;
                        -webkit-transition: all .2s ease-in-out;
                        -moz-transition: all .2s ease-in-out;
                        &:hover {
                            background: #f1f1f1;
                            border-color: #d6d6d6;
                        }
                        &:after {
                            content: "\f040";
                            font-family: 'FontAwesome';
                            color: themed('txtWhite');
                            position: absolute;
                            top: 10px;
                            left: 0;
                            right: 0;
                            text-align: center;
                            margin: auto;
                        }
                    }
                }
            }
            .avatar-preview {
                width: 125px;
                height: 125px;
                position: relative;
                border-radius: 100%;
                border: 6px solid #F8F8F8;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
                >div {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        } // Flip card
        .flip-card {
            width: 60px;
            height: 80px;
            position: relative;
            perspective: 800px;
            -webkit-perspective: 800px;
            -moz-perspective: 800px;
            perspective-origin: left top;
            -webkit-perspective-origin: left top;
            -moz-perspective-origin: left top;
            padding: 2px;
        }
        .card {
            @include card-rotate;
            width: 100%;
            height: 100%;
            background: none;
            position: absolute;
            transform-style: preserve-3d;
            transition: transform 1s;
            -webkit-transition: transform 1s;
            -moz-transition: transform 1s;
            animation: cards 8s ease-in-out infinite;
            -webkit-animation: cards 8s ease-in-out infinite;
            -moz-animation: cards 8s ease-in-out infinite;
            /* animation: name duration timing-function delay iteration-count direction fill-mode; */
        }
        .card .cmn-card {
            margin: 0;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
        } // .card .front {
        // background: red;
        // }
        .card .back {
            // background: blue;
            transform: rotateY( 180deg);
            -webkit-transform: rotateY( 180deg);
        }  
        /*Checkboxes*/
        .control-checkbox input:checked~.control-indicator {
            border: 1px solid themed('bgWarning');
            content: '-'
        }
        .control-checkbox input:checked~.control-indicator:after {
            width: 14px;
            height: 14px;
            background: themed('bgWarning');
            top: 2px;
            left: 2px;
            position: absolute;
        }       
        .checkboxes {
            margin-left: 4px;
            .lbl-control {
                position: relative;
                margin-bottom: 15px;
                cursor: pointer;
                font-size: 14px;
                font-weight: normal;
                font-family: 'DINPro-Regular';
                input {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }
            }
            .control-indicator {
                position: absolute;
                top: 2px;
                left: 0;
                height: 20px;
                width: 20px;
                border: 1px solid themed('borderFour');
                ;
            }
        } //Radio buttons 
        .custom-flex {
            flex: 1;
            -webkit-flex: 1;
            justify-content: center;
            @include primary-flex;
        }
        .sort-icons {
            // margin: 0 15px;
            position: absolute;
            right: 0;
            top: -5px;
            height: 30px;
            span {
                display: block;
                font-size: 32px;
                height: 0px;
                white-space: nowrap;
                color: themed('bgDanger');
            }
        }
        .radio-btns-group.flex-center {
            @include primary-flex;
            justify-content: center;
        }
        .radio-btns-group.space-around {
            @include primary-flex;
            justify-content: space-around;
        }
        .radio-btns-group.space-between {
            @include primary-flex;
            justify-content: space-between;
        }
        .radio-btns-group {
            .radio-btns {
                @extend .custom-flex;
                float: left;
                margin-right: 30px;
            }
            .lbl-control {
                position: relative;
                padding-left: 30px;
                margin-bottom: 0;
                cursor: pointer;
                font-size: 14px;
                font-weight: normal;
                font-family: 'DINPro-Regular';
            }
            .lbl-control input {
                position: absolute;
                z-index: -1;
                opacity: 0;
            }
            .lbl-control input:checked~.control-indicator {
                /* background: #2aa1c0; */
                border: 2px solid themed('borderFour');
            }
            .control-radio .control-indicator {
                border-radius: 50%;
            }
            .control-indicator {
                position: absolute;
                top: 2px;
                left: 0;
                height: 20px;
                width: 20px;
                border: 1px solid themed('borderFour');
            }
            .lbl-control input:checked~.control-indicator:after {
                display: block;
            }
            .control-radio .control-indicator:after {
                left: 3px;
                top: 3px;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background: themed('borderFour');
            }
            .control-indicator:after {
                content: '';
                position: absolute;
                display: none;
            }
        } // buttons
        .buttons-group {
            @include primary-flex;
            justify-content: center;
            &.custom-apt-btns {
                margin-bottom: 50px;
                display: none;
                &.active {
                    @include primary-flex;
                }
            }
            .item {
                @include primary-flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                align-items: center;
                -webkit-align-items: center;
                .btn-save {
                    background: themed('bgSuccess');
                }
                .btn-save-create {
                    background: themed('bgOrange');
                }
                .btn-cancel {
                    background: themed('bgDanger');
                }
                .btn-reshedule {
                    background: themed('bgWarning');
                }
                button {
                    border: none;
                    outline: none;
                    border-radius: 8px;
                    padding: 0px 16px;
                    margin: 0 16px;
                    font-size: 24px;
                    color: themed('txtWhite');
                    &:hover {
                        // border:2px solid $hcmtextblue;
                        // span{
                        //     &::before{
                        //         color:$hcmtextblue;
                        //     }
                        // }
                    }
                }
            }
        }
    }
}

// switch
.switch-block {
    .switch-input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    .switch-input:checked~.switch-label {
        background: #47a8d8;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
    }
    .switch-label {
        position: relative;
        display: block;
        height: inherit;
        font-size: 10px;
        text-transform: uppercase;
        background: green;
        border-radius: inherit;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
        -webkit-transition: 0.15s ease-out;
        -moz-transition: 0.15s ease-out;
        -o-transition: 0.15s ease-out;
        transition: 0.15s ease-out;
        -webkit-transition-property: opacity background;
        -moz-transition-property: opacity background;
        -o-transition-property: opacity background;
        transition-property: opacity background;
    }
    .switch-lbl {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 90px;
        height: 35px;
        margin-bottom: 0;
        /* padding: 3px;*/
        background-color: green;
        border-radius: 18px;
        box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
        background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
        background-image: -o-linear-gradient(top, #eeeeee, white 25px);
        background-image: linear-gradient(to bottom, #eeeeee, white 25px);
    }
    .switch-input:checked~.switch-handle {
        left: 62px;
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
    }
    .switch-handle {
        position: absolute;
        top: 5px;
        left: 4px;
        width: 25px;
        height: 25px;
        background: white;
        border-radius: 50%;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
        background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
        background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
        background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
        -webkit-transition: left 0.15s ease-out;
        -moz-transition: left 0.15s ease-out;
        -o-transition: left 0.15s ease-out;
        transition: left 0.15s ease-out;
    }
    .switch-input:checked~.switch-label:before {
        opacity: 0;
    }
    .switch-label:before {
        content: attr(data-on);
        right: 11px;
        color: #aaa;
        text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    }
    .switch-label:before,
    .switch-label:after {
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        line-height: 1;
        -webkit-transition: inherit;
        -moz-transition: inherit;
        -o-transition: inherit;
        transition: inherit;
    }
    .switch-input:checked~.switch-label:after {
        opacity: 1;
    }
    .switch-label:after {
        content: attr(data-off);
        left: 11px;
        color: white;
        text-shadow: 0 1px rgba(0, 0, 0, 0.2);
        opacity: 0;
    }
    .switch-label:before,
    .switch-label:after {
        position: absolute;
        top: 50%;
        font-size: 12px;
        color: #fff;
        margin-top: -.5em;
        line-height: 1;
        -webkit-transition: inherit;
        -moz-transition: inherit;
        -o-transition: inherit;
        transition: inherit;
    }
    .switch-handle:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -6px 0 0 -6px;
        width: 12px;
        height: 12px;
        background: red;
        border-radius: 6px; // box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
        // background-image: -webkit-linear-gradient(top, #eeeeee, white);
        // background-image: -moz-linear-gradient(top, #eeeeee, white);
        // background-image: -o-linear-gradient(top, #eeeeee, white);
        // background-image: linear-gradient(to bottom, #eeeeee, white);
    }
}

// tabs
.swipable-tabs-rct {
    @include themify($themes) {
        border: 2px solid themed('borderThree');
        border-radius: 10px;
    }
}

.swipable-tabs {
    @include themify($themes) {
        padding: 10px 0; // width: 100%;
        // height: 100%;
        .swipable-container {
            // width: 100%;
            height: 100%; // padding: 10px;
            border: 2px solid themed('borderThree');
            border-radius: 10px;
            .swiper-wrapper {
                padding-top: 55px;
                .cmn-form-controls {
                    width: 100%;
                }
                .swiper-slide {
                    width: 100% !important; //  @include primary-flex;
                    h4 {
                        padding: 8px;
                        border-bottom: 1px solid;
                    }
                }
            } // margin: 50px auto 0;
        }
        .active-mark {
            background: themed('bgWarning');
            width: $tabs-header-width;
            height: 4px;
            position: absolute;
            left: 0;
            top: 52px;
            transition: left 0.2s ease-out;
        }
        .swiper-pagination-bullet {
            // background-color: #00D42B;
            border-radius: 0;
            box-sizing: border-box;
            color: themed('txtWhite');
            cursor: pointer;
            font-size: 18px;
            font-weight: normal;
            opacity: 1;
            height: 56px;
            width: $tabs-header-width;
            display: inline-flex;
            align-items: center;
            -webkit-align-items: center;
            justify-content: center;
            text-align: center;
            transition: font-weight 0.22s ease;
            @include tabs;
            &:first-of-type {
                &.swiper-pagination-bullet-active {
                    ~.active-mark {
                        left: 0;
                    }
                }
            }
        }
        .swiper-pagination-bullet-active {
            background: none;
        }
        .swiper-container-horizontal {
            >.swiper-pagination {
                top: 0;
                bottom: auto;
                .swiper-pagination-bullet {
                    margin: 0;
                }
            }
        }
    }
}