/*Background Colors*/
$themeDark:black;
$themeYellow:orange;
$themeGreen:green;
$themeBlue:#00bcd4;
$txtDefault:#000;
$bgWhite:#fff;


// Dark Theme
$defaultBg:#000;
$headerColor:#000;
$footerColor:#000;
$defaultTextColor:#fff;
$defaultBorder:#ccc;
$borderBottom:#FF5252;
$iconColor:#ffde00;
$border:green;
$borderOne:#ccc8c8;
$borderTwo:green;
$borderThree:#ff5722;
$borderFour:#ffde00;
$txtSuccess:green;
$txtWarning:#ffde00;
$txtDanger:#FF5252;
$txtOrange:orange;
$txtInfo:#00bcd4;
$txtGray:gray;
$txtBlack:#000;
$txtWhite:#fff;
$bgWhite:#fff;
$bgSuccess:green;
$bgDanger:#FF5252;
$bgWarning:#ffde00;
$bgBlue:#00bcd4;
$bgOrange:orange;
$bgLightGray:#ccc;
$bgGray:gray;


// Yellow Theme
$primaryBg:#ffa200;
$primaryTextColor:#fff;
$primaryBorder:#ccc;
$pborderBottom:#115594;
$piconColor:#ffeb3b;
$pborder:#FF5252;
$pheaderColor:#000;
$pfooterColor:#000;
$pborderOne:#ccc8c8;
$pborderTwo:green;
$pborderThree:#ff5722;
$pborderFour:#ffde00;
$ptxtSuccess:green;
$ptxtWarning:#ffde00;
$ptxtDanger:#FF5252;
$ptxtOrange:orange;
$ptxtInfo:#00bcd4;
$ptxtGray:gray;
$ptxtBlack:#000;
$ptxtWhite:#fff;
$pbgWhite:#fff;
$pbgSuccess:#ffde00;
$pbgDanger:#FF5252;
$pbgWarning:#ffde00;
$pbgBlue:#00bcd4;
$pbgOrange:orange;
$pbgLightGray:#ccc;
$pbgGray:gray;


// blue Theme
$secondaryBg:#03a9f4;
$secondaryTextColor:#fff;
$secondaryBorder:#ccc;
$sborderBottom:#115594;
$siconColor:orange;
$sborder:#FF5252;
$sheaderColor:#000;
$sfooterColor:#000;
$sborderOne:#ccc8c8;
$sborderTwo:green;
$sborderThree:#ff5722;
$sborderFour:#ffde00;
$stxtSuccess:green;
$stxtWarning:#ffde00;
$stxtDanger:#FF5252;
$stxtOrange:orange;
$stxtInfo:#00bcd4;
$stxtGray:gray;
$stxtBlack:#000;
$stxtWhite:#fff;
$sbgWhite:#fff;
$sbgSuccess:green;
$sbgDanger:#FF5252;
$sbgWarning:#ffde00;
$sbgBlue:#00bcd4;
$sbgOrange:orange;
$sbgLightGray:#ccc;
$sbgGray:gray;


// green Theme
$quaternaryBg:green;
$quaternaryTextColor:#fff;
$quaternaryBorder:#ccc;
$qborderBottom:#115594;
$qiconColor:#fff;
$qborder:#FF5252;
$qheaderColor:#000;
$qfooterColor:#000;
$qborderOne:#ccc8c8;
$qborderTwo:green;
$qborderThree:#ff5722;
$qborderFour:#ffde00;
$qtxtSuccess:orange;
$qtxtWarning:#ffde00;
$qtxtDanger:#FF5252;
$qtxtOrange:orange;
$qtxtInfo:#00bcd4;
$qtxtGray:gray;
$qtxtBlack:#000;
$qtxtWhite:#fff;
$qbgWhite:#fff;
$qbgSuccess:green;
$qbgDanger:#FF5252;
$qbgWarning:#ffde00;
$qbgBlue:#00bcd4;
$qbgOrange:orange;
$qbgLightGray:#ccc;
$qbgGray:gray;

